@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Balsamiq+Sans&display=swap");
body {
  background: white;
  margin: 0;
  font-family: "Balsamiq Sans", cursive;
}

body p,
body h1 {
  margin: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: black;
  color: white;
  padding: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Architects Daughter", cursive;
}

.header h1 {
  padding-left: 10px;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar p {
  padding-left: 15px;
  font-size: 20px;
}

@media (max-width: 650px) {
  .header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header p {
    font-size: 15px;
  }
}

.header .link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.header .link p:hover,
.header .link h1:hover {
  color: gray;
}

.about,
.projects,
.home,
.contact {
  margin-top: 60px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 650px) {
  .about,
  .projects,
  .home,
  .contact {
    margin-top: 80px;
  }
}

.home {
  height: 90vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home h1,
.home h2,
.home p {
  margin: 30px 50px;
  text-align: center;
}

.about {
  width: 100%;
  padding: 0;
  background: #d9d9d9;
}

.about h2 {
  margin-top: 80px;
}

.about .aboutText {
  padding: 10px;
}

.about #ruth {
  width: 200px;
  margin-bottom: 20px;
}

.about .pics img {
  width: 100px;
  padding: 20px;
}

.about .certs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 650px) {
  .about .certs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about .certs img {
  width: 250px;
  padding: 20px;
}

.about p {
  margin: 20px;
  text-align: justify;
  font-size: 20px;
}

.about #codepen {
  padding: 0 10px;
}

.about #github {
  padding-left: 10px;
}

.projects {
  background: #d9d9d9;
  padding-bottom: 40px;
  width: 100%;
}

.projects h2 {
  margin: 80px 0 30px 0;
}

.projects .projects-container {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.projects .proj-link {
  text-decoration: none;
}

.projects .project-tile {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #999999;
  background: #999999;
  cursor: pointer;
}

.projects .project-tile img {
  background-color: ivory;
  width: 100%;
}

.projects .project-tile p {
  margin: 10px;
  color: black;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal .modal-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background: white;
  width: 74%;
  height: auto;
  top: 5%;
  left: 13%;
  border: 2px solid white;
  padding: 10px;
}

.modal .modal-main img {
  border: 1px solid #999999;
  width: 80%;
}

.modal .modal-main p {
  margin: 20px 0;
  width: 100%;
  text-align: justify;
}

@media (max-width: 650px) {
  .modal .modal-main p {
    font-size: 12px;
  }
}

.modal .modal-main h2 {
  margin: 0 0 10px 0;
}

.modal .modal-main button {
  margin-bottom: 10px;
}

.modal .modal-main .gitLink {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-decoration: none;
}

.contact {
  height: 100vh;
  background: #d9d9d9;
}

.contact h2 {
  margin: 80px 0 30px 0;
}

.contact #emaillogo {
  width: 32px;
  margin-left: 20px;
}

.contact .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact .links h3 {
  margin-bottom: 20px;
  font-size: 20px;
}

.contact .links p {
  margin-left: 10px;
  font-size: 20px;
}

.contact .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
  margin: 0 0 10px 30px;
}

.contact .icon {
  width: 30px;
  font-size: 30px;
}
/*# sourceMappingURL=styles.css.map */